POSTGRES_DB=postgres-db
POSTGRES_USER=postgres-user
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres-host
POSTGRES_PORT=5432

GOOSE_DBSTRING="host=${POSTGRES_HOST} port=${POSTGRES_PORT} dbname=${POSTGRES_DB} user=${POSTGRES_USER} password=${POSTGRES_PASSWORD} sslmode=disable"
GOOSE_DRIVER=postgres

TAG_NAME=latest